<div class="container">
    <h2>Extraction des données</h2>
  
    <h3>Paramètres mesurés :</h3>
    <div class="parametres">
      <label *ngFor="let param of parametres">
        <input type="checkbox" [(ngModel)]="param.selected" />
        {{ param.codeParam }}
      </label>
    </div>
  
    <h3>Profils disponibles :</h3>
    <table class="data-table table table-striped" *ngIf="profils.length > 0">
      <thead>
        <tr>
        
          <th>ID Profil</th>
          <th>Date</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Profondeur</th>
          <th>Sélection</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of  getProfilsPage()">
          
          <td>{{ p.idProfil }}</td>
          <td>{{ p.dateProfil }}</td>
          <td>{{ p.lat }}</td>
          <td>{{ p.longitude }}</td>
          <td>{{ p.depth }}</td>
          <td>{{p.dispCode}} <input type="checkbox" [(ngModel)]="p.selected" /></td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-secondary" (click)="previousPage()" [disabled]="page === 0">
          ⬅️ Précédent
        </button>
        <button class="btn btn-secondary" (click)="nextPage()" [disabled]="(page + 1) * pageSize >= profils.length">
          Suivant ➡️
        </button>
      </div>
      <div class="container mt-4" *ngIf="parametres && parametres.length > 0">
        <h4 class="mb-3">Légende des paramètres :</h4>
        <div class="row" *ngFor="let pair of parametres | slice:0:100; let i = index">
          <ng-container *ngIf="i % 2 === 0">
            <div class="col-md-6 mb-2">
              <strong>{{ parametres[i].codeParam }}:</strong>
              {{ parametres[i].libelleParam }} ({{ parametres[i].unite }})
            </div>
            <div class="col-md-6 mb-2" *ngIf="parametres[i + 1]">
              <strong>{{ parametres[i + 1].codeParam }}:</strong>
              {{ parametres[i + 1].libelleParam }} ({{ parametres[i + 1].unite }})
            </div>
          </ng-container>
        </div>
      </div>
   
  </div>
  